# Dependencies
node_modules

# Build output
dist

# Git
.git

# Environment files
.env
.env.*
!.env.example

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Temporary files
*.log
*.tmp

# TanStack cache
.tanstack

# Prisma
prisma/migrations
